@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="~/css/about.css">
<body style="background-color:#ECF5E4 ;">
    

    <!-- Header Section -->
    <div class="header">
        <h1>About Us</h1>

    </div>

    <!-- About Us Section (Second Paragraph) -->
    <div class="about-us">
        <h2>The Best Agriculture Market</h2>
        <div class="about-section">
            <img src="/images/011.jpg" alt="Agriculture Image">
            <div class="text">
                <p>
                    We believe in health for our communities: our community of customers, the local neighborhoods
                    surrounding our stores, the teams who work in our stores, and the people behind the products that
                    sit on our shelves. A healthy environment is just as high up on our priorities list.
                </p>
                <p>
                    To us, health means providing organic, natural, and sustainable products that you can trust, advice
                    and guidance from trained experts, and acting sustainably and ethically as a business.
                </p>
            </div>
        </div>
    </div>

    <!-- About Us Section -->
    <div class="about-us">
        <h2>Our Mission</h2>
        <div class="about-section reverse">
            <img src="/images/bblank-profile-picture-973460_1280.webp" alt="Mission Image">
            <div class="text">
                <p>
                    At Fieldly, we strive to be more than just a shop. We want to do more for our customers,
                    neighborhoods, employees, suppliers, and the environment than simply buying and selling products. We
                    believe in promoting health in our communities through organic, natural, and sustainable products,
                    and acting sustainably and ethically as a business.
                </p>
                <p>
                    We care deeply about the communities we are a part of. Our goal is to promote health within our
                    communities and to be ethical in our treatment of both people and the environment. Being part of a
                    community also means being part of conversations, listening, and using the views of those we serve
                    to improve what we do.
                </p>
            </div>
        </div>
    </div>




   

</body>