<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mvc1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/mvc1.styles.css" asp-append-version="true" />
    <link href="~/css/nav.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />

</head>
<body style="background-color:#ECF5E4 ;">
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="./images/logo.png" alt="Logo">

            </div>
            <div class="burger" onclick="toggleMenu()" style="z-index: 20;">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a asp-controller="Home" asp-action="AboutUs">About Us</a></li>
                <li><a asp-controller="Shop" asp-action="Shop">Shop</a></li>
                <li><a asp-controller="Subscribe" asp-action="Subscribe">Subscriptions</a></li>
                <li><a href="farmers.html">Farmers</a></li>
                <li><a href="#">Map</a></li>
                <li><a asp-controller="Admin" asp-action="Admin">Admin</a></li>

                <li><a asp-controller="Home" asp-action="ContactUs">Contact Us</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="login.html" class="login">Login/Sign Up</a></li>
            </ul>
        </div>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer">
            <div class="container">
                <div class="column">
                    <h3>Quick Links</h3>
                    <ul>

                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="product.html">Products</a></li>
                        <li><a href="subscribe.html">Subscriptions</a></li>
                        <li><a href="farmers.html">Farmers</a></li>
                        <li><a href="#">Map</a></li>
                        <li><a href="contact.html">Contact Us</a></li>

                    </ul>
                </div>
                <div class="column">
                    <h3>Contact us</h3>
                    <p>Contact Us</p>
                    <p>Phone: +962798009496</p>
                    <p>Email: alghzawiadnan22@gmail.com</p>
                    <div class="social-icons">
                        <a href="#"><img src="./images/facebook.png" alt="facebook" width=35px;></a>
                        <a href="#"><img src="./images/whatsapp.png" alt="whatsapp" width=35px;></a>
                        <a href="#"><img src="./images/instagram.png" alt="instagram" width=35px;></a>
                        <a href="#"><img src="./images/twitter.png" alt="twitter" width=35px;></a>
                    </div>
                </div>
                <div class="column">
                    <h3>Shop</h3>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Farm Products</a></li>
                        <li><a href="#">Store</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h3>My Farm</h3>
                    <a href="https://maps.app.goo.gl/6KBoiabMTbr7AuG19">
                        <img src="images/location.jpeg"
                             alt="Girl in a jacket" width="100%" height="200">
                    </a>
                </div>
            </div>
            <div class="bottom-bar">
                <p>
                    Irbid | Ajlun | Al Zarqa | Al Mafraq | Amman | Jarash | Al Balqa | Madaba | Al Karak | Ma'an | Al
                    Tafilah | Al Aqaba
                </p>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
